<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>

<%= link_to 'add new event', new_event_path %>

<script type='text/javascript'>

	$(document).ready(function() {
var date = new Date();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
                        
                        eventSources: [{
                          url: '/events',
                          ignoreTimezone: true
                        }],
                        timeFormat: 'h:mm tt{ - h:mm tt} ',
			slotMinutes: 10,
                        loading: function(bool) {
				if (bool) $('#loading').show();
				else $('#loading').hide();
			},

                        eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                           updateEvent(event);
                        },

                        eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                           updateEvent(event);
                        },

		});
		
	});


function updateEvent(the_event) {
    $.update(
      "/events/" + the_event.id,
      { event: { title: the_event.title,
                 starts_at: "" + the_event.start,
                 ends_at: "" + the_event.end,
               }
      },
      function (reponse) { alert('successfully updated task.'); }
    );
};

</script>
<style type='text/css'>

	#calendar {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

       	#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}

</style>
